{% extends 'layout.html.twig' %}

{% block title %}Panier
{% endblock %}
{% block content %}
	<div class="row">
		<div class="col-lg-7">
			<div class="card mb-3">
				<div class="card-body">
					<div class="d-flex flex-column justify-content-between">
						<h5>Votre Reservation</h5>
						<h6 class="fw-normal mb-0">La chambre :
							{{nomChambre}}</h6>
						<h5 class="fw-normal mb-0">
							Nombre de jours reservés :
							{{nbrJour}}
							jour(s)</h5>

					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-5">
			<div class="card  rounded-3">
				<div class="d-flex justify-content-between mb-4 p-2">
					<p class="mb-2">Total(TTC)</p>
					<p class="mb-2">{{prixTotal}}
						MAD</p>
				</div>
				<div class="text-center">
					<button type="button" class="btn btn-success btn-block btn-lg">
						<div class="d-flex justify-content-between">
							<a id="bookBtn" href="{{path('app_panier')}}">

								<span>Reserver
									<i class="fas fa-long-arrow-alt-right ms-2"></i>
								</span>
							</a>
						</div>
					</button>
				</div>

			</div>
		</div>

	</div>

{% endblock %}
