{% extends 'base.html.twig' %} {% block title %}{% endblock %} {% block body %}
<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Accueil</a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarColor02"
        aria-controls="navbarColor02"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarColor02">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link" href="#"> Le gîte </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Les chambres</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Réservation</a>
          </li>
          {# Pour admin #}
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              data-bs-toggle="dropdown"
              href="#"
              role="button"
              aria-haspopup="true"
              aria-expanded="false"
              >Admin</a
            >
            <div class="dropdown-menu">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Separated link</a>
            </div>
          </li>
        </ul>
        <div class="d-flex">
          <h6>Bonjour et bienvenue</h6>
        </div>
      </div>
    </div>
  </nav>
</header>
<main>{% block content %}{% endblock %}</main>
<footer>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-bottom">
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav mx-auto">
        <li class="nav-item">
          <a class="nav-link" href=""> - CGV</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href=""> - Nous contacter </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href=""> - Qui sommes nous</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href=""> - Nos Valeurs</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href=""> - Rejoindre l'équipe</a>
        </li>
      </ul>
    </div>
  </nav>
</footer>
{% endblock %}
